<h2>Team Name: <%= @team.name %></h2>
<h3>Record: <%= @team.win_count %> - <%= @team.loss_count %></h3>
<%= render "team_tabs" %>
<div class="team-partial-wrapper">
  <%= render "team_players" %>
</div>
