  <h4>Upcoming Games</h4>
  <table class="table">
    <tr>
      <% if current_user.id == @team.captain.id %>
      <%= link_to "+ Add Game", new_game_path, class: "btn btn-primary btn-xs" %><br>
      
    <% end %>
    </tr>
    <tr>
      <th>When</th>
      <th>Where</th>
      <th>Teams</th>
    </tr>

    <% @team.upcoming_games.each do |g| %>
      <tr>
        <td>
          <%= link_to g.nice_date(g.start_time), g%>
        </td>
        <td>
          <%= g.location %>
        </td>
        <td>
          <%= link_to g.home_team.name, g.home_team %> vs. <%= link_to g.away_team.name, g.away_team %>
        </td>
      </tr>
    <% end %>
  </table>
