  <h2 class="text-center">Login</h2>
  <%= form_for :session, url: login_path do |f| %>
  <div class="form-group">
      <%= f.label :username %><br>
      <%= f.text_field :username, class: "form-control" %>
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.submit "Login", class: "btn btn-success center-block" %>
  </div>
  <% end %>
