<h2>Edit Game Info</h2>

<div class="col-xs-12 col-md-5">
  <% if is_captain?(@game) && @game.game_over?%>
    <%= form_for @game do |f| %>
      <div class="form-group">
        <%= f.label :winner %>
        <%= f.select :winner_team_id, class: "form-control" do %>
        <%= options_for_select(@game.teams) %>
      </div>
      <br><br><%= f.submit "Save", class: "btn btn-primary btn-md" %>
    <% end %><br>
  <% end %>

  <% else %>
    <%= form_for @game do |f| %>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :start_time %>
        <div class="input-group date datetimepicker" >
          <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
              Choose
          </div>
          <%= f.text_field :start_time, class: "form-control" %>
        </div>
      </div>
        <%= f.submit "Save", class: "btn btn-primary btn-md" %><br>
    <% end %>
  <% end %>
</div>
