<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  <title>Throwdown</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- removes nav-bar for landing page -->
<% unless request.env['PATH_INFO'] == '/' %>
  <%= render "session/navbar"%>
<% end %>
<main class="container">
<%= yield %>
</main>

</body>
</html>
