<!DOCTYPE html>
<html>
<head>
  <title>Throwdown</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
  <%= render 'navbar'%>
<div class="container">
  <%= yield %>
</div>
=======
<%= render "session/navbar"%>
<%= yield %>

>>>>>>> 4eb37ab9a9c7090daff688242617745cf128ee77
</body>
</html>
